
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
	--gren-gray-scale-900: #002603;
	--gren-gray-scale-800: #173b1a;
	--gren-gray-scale-700: #2b572e;
	--gren-gray-scale-600: #406b42;
	--gren-gray-scale-500: #618062;
	--gren-gray-scale-400: #7a997c;
	--gren-gray-scale-300: #96b297;
	--gren-gray-scale-200: #b4ccb4;
	--gren-gray-scale-100: #dae5da;
	--gren-gray-scale-50: #edf2ee;
	--gray-scale-gray--900: #1a1a1a;
	--gray-scale-gray--800: #333;
	--gray-scale-gray--700: #4d4d4d;
	--gray-scale-gray--600: #666;
	--gray-scale-gray--500: #808080;
	--gray-scale-gray--400: #999;
	--gray-scale-gray--300: #b3b3b3;
	--gray-scale-gray--200: #ccc;
	--gray-scale-gray--100: #e6e6e6;
	--gray-scale-gray--50: #f2f2f2;
	--gray-scale-white: #fff;
	--branding-success-bright: #84d187;
	--branding-success: #00b207;
	--branding-success-dark: #2c742f;
	--branding-warning: #ff8a00;
	--branding-error: #ea4b48;
    --font-family: "Poppins", sans-serif;
    --second-family: "Segoe Script", sans-serif;
    --third-family: "Dancing Script", sans-serif;
    
}
/* common css start */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* outline: 1px solid red; */
	
}
ul,ol{
	list-style: none;
}
h1,h2,h3,h4,h5,h6,ul,p,span,ol,address{
	margin: 0;
	padding: 0;

}




/*  Feature products start*/
.FratureProducts{
	margin-bottom: 60px;
}

.heading{
	margin-bottom: 80px;
}
.heading h2{
    font-weight: 600;
    font-size: 40px;
    line-height: 120%;
    color: var(--gray-scale-gray-–-900);
}
.heading a{
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: var(--branding-success);
}
.heading a span{
	margin: 15px;
}
.products{
	border: 1px solid var(--gray-scale-gray--100);
    border-radius: 10px;
	background-color: white;
}

.products .productsCnt{
	position: relative;
	padding: 16px 16px 32px 16px;

}
.productsCnt a{	
	
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--gray-scale-gray--700);
}
.productsCnt P{
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: var(--gray-scale-gray--900);
}
.productsCnt P del{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-decoration: line-through;
    color: var(--gray-scale-gray--200);
}
.products .productsCnt .bag{
	position: absolute;
	width: 40px ;
    height: 40px;
    border-radius: 50%;
	background-color: var(--gray-scale-gray--200);
    color: var(--gray-scale-gray--50);
    top: 50%;
	right: 20px;
	transform: translateY(-50%) ;
	text-align: center;
	line-height: 40px;
	color: var(--branding-success);
}
.reating {
	margin-top: 6px;
	display: flex;
	font-size: 12px;
	color: var(--branding-warning);
}
.products:hover{
	border-color: var(--branding-success);
	box-shadow: 0 0 12px 0 rgba(32, 181, 38, 0.32);
	
}
.products .productPic{
	position: relative;
   
}
.products .productPic .productSale span{
	border-radius: 4px;
    padding: 3px 8px;
    top: 16px;
	left: 16px;
	background: var(--branding-error);
	position: absolute;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--gray-scale-white);
}
.products .productPic .quickLinks{
	position: absolute;
	top: 20px;
	right: 20px;	
}

.products .productPic .quickLinks a{
	width: 40px;
    height: 40px;
	background-color: var(--gray-scale-gray--50);
	border-radius: 50%;
    border: 1px solid var(--gray-scale-gray--50);
	color: var(--gray-scale-gray--900);
	display: block;
	text-align: center;
	line-height: 40px;
	margin-bottom: 6px;
	transition: 0.35s;
	opacity: 0;
	visibility: hidden;
	transform: translateY(50px);

}
.products:hover .productPic .quickLinks a{
	transform: translateY(0px);
	opacity: 1;
	visibility: visible;

}
.productsCnt .bag:hover{
	color: var(--gray-scale-gray--100);
	background-color: var(--branding-success);

}
.productsCnt:hover {
	color: var(--branding-success-dark);
}

/* Feature products end */




a{
	text-decoration: none;
}
body{
	font-family: var(--font-family) ;
}
.btn{
	border-radius: 53px;
    padding: 16px 40px;
	font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    color: var(--gray-scale-white);
	border: none;
	display: inline-block;
}
.btn span{
	margin-left: 16px;
}
.btn-primary{
	background-color: var(--branding-success);
}
.btn-primary:hover{
	background: var(--branding-success-dark);
}
/* common css end */

/* Header start */

/* Topheader start */
#topHeader {
    background: var(--gren-gray-scale-50);
    padding: 12px 0;

}
#topHeader address{
	font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;
    color: var(--gren-gray-scale-700);
	display: inline-flex;
	gap: 8px;
	align-items: center;
}
#topHeader address span{
	font-size: 20px;
}
#topHeader select{
	border: none;
	background-color: transparent;
    font-family: var(--font-family);
	font-weight: 400;
	font-size: 12px;
	line-height: 130%;
	text-align: center;
    color: var(--gren-gray-scale-700);
	margin: 0 10px; 
	outline: none;  
}
/*  Topheader end*/

/* search bar start */

.searchBox.active{
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
}



.searchBox{
	position: fixed;
	inset: 0;
	background-color: rgba(255, 255, 255, 0.07);
	z-index:99 ;
	backdrop-filter: blur(5px);
    padding: 100px 80px 0;
	transform: translateY(100%);
    transition:  0.3s ease;
    opacity: 0;
	visibility: hidden;

}

.searchArea{
	position: relative;
}
.searchArea  input{
	display: block;
	width: 100%;
	border: none;
	border-bottom: 1px solid var(--gray-scale-gray--800);
	outline: none;
	font-size: 35px;
	padding-left: 25px;
}
.searchArea button{
	position: absolute;
	right: 0;
	top: 0;
	transform: translateY(-50px);
    width: 40px;
	height: 40px;
	border-radius: 50%;
	border: none;
	color: var(--gray-scale-gray--50);
	background-color: var(--branding-success);
}

.searchBox .results{
	overflow: auto;
	height: 700px;
	padding-bottom: 100px;
}
.searchBox .closeSearch {
	position: absolute;
	top: 20px;
	right: 50px;
	border: none;
	background-color: transparent;

}

/* search bar end */


/* mainHeader start */
#mainHeader{
	padding: 20px 0;
}
#mainHeader .mainMenu{
	display: flex;
	gap: 27px;
}
#mainHeader .mainMenu li a {
	font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: var(--gray-scale-gray--500);
	transition: 0.25s;

}
#mainHeader .mainMenu li:hover > a,
#mainHeader .mainMenu li a .active{
	color: var(--gray-scale-gray--900);
}
#mainHeader .mainMenu .subMenu{
	position: absolute;
	border:1px solid #ccc;
	min-width: 200px;
	opacity: 0;
	visibility: hidden;
	margin-top: 50px;
	transition: 0.35s ease;
}
#mainHeader .mainMenu .subMenu a{
	display: block;
	padding: 8px 13px;
	text-decoration: none;

}

#mainHeader .mainMenu li:hover > .subMenu{
	opacity: 1;
	visibility: visible;
	margin-top: 0px;
}
#mobileMenu .quickLinks,
#mainHeader .quickLinks{
	display: flex;
	gap: 40px;
	align-items: center;
	justify-content: end;
}
#mainHeader .quickLinks > a{
	font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
     line-height: 150%;
    color: var(--gray-scale-gray--900);
	display: inline-flex;
	align-items: center;
	gap: 8px;
}
#mainHeader .quickLinks >a span{
    font-size: 25px;
}
#mobileMenu .quickLinks ul,
#mainHeader .quickLinks ul{
	display: flex;
	gap:20px
}
#mobileMenu .quickLinks ul li a,
#mainHeader .quickLinks ul li a{
	font-size: 20px;
	color: var(--gray-scale-gray--700);
}
/* mainHeader end */


/* mobileMenu start */
#mobileMenu{
	padding:20px 0 ;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;

}
/* mobailemenu end */

/* Mobaile Footer start */
#mobileFooter{
	position: fixed;
	bottom: 0;
    left: 0;
	width: 100%;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    padding: 10PX 0;
}
#mobileFooter ul{
	display: flex;
	justify-content: space-evenly;
	text-align: center;
}
#mobileFooter ul li span{
	display: block;
}
#mobileFooter ul li a{
	color: var(--gray-scale-gray--500);
}
#mobileFooter ul li:hover a,
#mobileFooter ul li:focus a,
#mobileFooter ul li:focus a.active{
	color: var(--gray-scale-gray--900);
}
/* Mobaile Footer end */
/* Header end */



/* Banner Slider start*/
#banner{
	position: relative;
}
.bannerSlide{
	height: 640px;
	background-size: 80%;
	background-color: #edf2ee;
	/* background-size: cover; */
	background-repeat: no-repeat;
	background-position: center;
	transition: 0.5s;

}

.bannerSlide.slick-active{
	background-size: 100%;
}
.bannerSlide h4{
	font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: var(--branding-success);
}
.bannerSlide h2{
	font-family: var(--font-family);
    font-weight: 600;
    font-size: 72px;
    line-height: 120%;
    color: var(--gray-scale-gray--900);
	margin: 8px 0 28px;
	transition-delay: 0.25s !important;
}
.bannerSlide h3{
	font-family: var(--font-family);
    font-weight: 400;
    font-size: 32px;
    line-height: 120%;
	transition-delay: 0.3s !important;
    color: var(--gray-scale-gray--900);
}
.bannerSlide h3 span{
	font-weight: 600;
    color: var(--branding-warning);
}
.bannerSlide p{
	font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--gray-scale-gray--500);
	margin:12px 0 32px ;
	transition-delay: 0.4s !important;
} 
.bannerSlide a{
	transition-delay: 0.5s !important;
}
.bannerSlide .bannerCnt * {
	transform: translateY(80px);
	opacity: 0;
	visibility: hidden;
	transition: 0.75s ease;
}
.bannerSlide.slick-active .bannerCnt * {
	transform: translateY(0px) ;
	opacity: 1;
	visibility: visible;
	transition: 0.7s ease;
}
.leftArrow,
.rightArrow{
	position: absolute;
	top: 50%;
	transform:translateY(-50%);
	width: 45px;
	height: 45px;
	display: block;
	text-align: center;
	line-height: 45px;
	border: 1px solid var(--gray-scale-gray--400);
	border-radius: 50%;
	background-color: white ;
	cursor: pointer;
	transition: 0.25s;

}
.leftArrow{
    left: 7%;
}
.rightArrow{
    right: 8%;
}
.leftArrow:hover,
.rightArrow:hover{
    color: white;
	background-color: var(--branding-success);
    border-color: var(--branding-success);
}
.slider-dots{
	display: flex;
	justify-content: center;
	position: absolute;
	bottom: 60px;
	width: 100%;
	gap: 20px;
}
.slider-dots button{
	border: none;
	border-radius: 50%;
	background-color: var(--gray-scale-gray--200);
	width: 12px;
	height: 12px;
	display: block;
	color: transparent;
}
.slider-dots .slick-active button{
	background-color: var(--branding-success);
}
/* Banner Slider end */


/* Feature section start */
  
#featureid{
    margin: 40px 0 40px 0;
    
	text-align: center;
}
.feature{
	margin-right: 0px;
}
.feature h4{
	font-family: var(--font-family);
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: var(--gray-scale-gray--900);
	margin: 8px;
}
.feature p{
	font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: var(--gray-scale-gray--400);
	
}
/* Feature section end */

/* Shop  Categories start*/
#shopCategories{
	margin-bottom: 60px;
	position: relative;
}
.categoriesHeading{
	margin-bottom: 80px;
}
.categoriesHeading h2{
    font-weight: 600;
    font-size: 40px;
    line-height: 120%;
    color: var(--gray-scale-gray--900);
}
.categoriesHeading a{
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: var(--branding-success);
}
.categoriesHeading a span{
	margin: 14px;
}

.categories .shopCnt h4{
	font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: var(--branding-success-dark);
	margin: 20px 0 6px;
}
.categories .shopCnt p{
	margin-bottom: 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--gray-scale-gray--500);
}
.categoriesProducts{
	border: 1px solid #ededed;
	background: var(--gray-scale-white);
	text-align: center;
    border-radius: 6px;
}
.categoriesPic{
	margin: 20px 20px 20px 20px;
}
.categoriesProducts:hover{
	border: 1px solid var(--branding-success-dark);
    border-radius: 6px;
	box-shadow: 0 0 12px 0 rgba(32, 181, 38, 0.32);
    background: var(--gray-scale-white);
}
#shopCategories{
	box-shadow: 0 1px 0 0 #e5e5e5;
    background: linear-gradient(180deg, #f2f5f3 20.01%, #fff 100%);
}
.sliderShop{
	text-align: center;
	margin-bottom: 60px;
}
.categoriesPic img{
	
	align-items: center;
}



.leftArrow,
.rightArrow{
	position: absolute;
	top: 50%;
	transform:translateY(-50%);
	width: 45px;
	height: 45px;
	display: block;
	text-align: center;
	line-height: 45px;
	border: 1px solid var(--gray-scale-gray--400);
	border-radius: 50%;
	background-color: white ;
	cursor: pointer;
	transition: 0.25s;

}
.leftArrow{
    left: 0%;
}
.rightArrow{
    right: 0%;
}
.leftArrow:hover,
.rightArrow:hover{
    color: white;
	background-color: var(--branding-success);
    border-color: var(--branding-success);
}


/* Shop  Categories end */


/* choose Food start */
.chooseFood{
	margin-top: 50px;
}
#choose .chooseFood h2{
	font-weight: 600;
	font-size: 40px;
	line-height: 120%;
	color: var(--gray-scale-gray--900);
    margin-bottom: 26px;

}

.chooseFood .chooseCnt h4{
	margin-left: 40px;
	margin-top: 2px;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: var(--gray-scale-gray--900);
}
.chooseFood .chooseCnt .choosePic{
   display: flex;
   top: 20px;
   transform: translateY(30px);

}
.chooseFood .chooseCnt p{
	margin-left: 40px;
	margin-top: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--gray-scale-gray--500);
}
.chooseFood .chooseCnt a{
	margin-top: 20px;
}
/* choose Food end */



/* count section start */
#count{

	color: var(--branding-success);
    background-attachment: cover;
    background-size: cover; 
    margin-top: 100px;
	background-color: var(--gray-scale-gray--900);
    background-repeat: no-repeat;
    background-image: url(../Images/count.png);
}
.counting{
	margin-top: 80px;
	margin-bottom: 77px;
	border-radius: 8px;
	padding: 40px 0px;
	width: 312px;
	height: 174px;
	background: rgba(255, 255, 255, 0.07);
}
.counting h2{
	text-align: center;
   font-weight: 300;
   font-size: 56px;
   line-height: 120%;
   color: var(--branding-success);
}
.counting p {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: var(--gray-scale-white);
}
/* count section end */


/* photo section start */
#Photo{
	margin-top: 80px;
	margin-bottom: 60px;

}
/* phot section end */



/* seller products  section start */

#sell h2{
	font-weight: 600;
    font-size: 40px;
    line-height: 120%;
    color: var(--gray-scale-gray--900);
}

.sells .sellCnt a{

   font-weight: 400; 
   font-size: 14px;
   line-height: 150%;
   color: var(--gray-scale-gray--700);
}
.sells .sellCnt p{
	font-weight: 500; 
   font-size: 16px;
   line-height: 150%;
   color: var(--gray-scale-gray--700);
}
.sells .sellCnt{

	margin-left: 50px;
	margin-top: 20px;
}
.sells{
	border: 1px solid var(--gray-scale-gray--100);
    border-radius: 10px;
	margin-top: 20px;

}


.sells .sellCnt .quickLinks{
	position: absolute;
	margin-top: -40px;	
	border-radius: 6px;
    width: 144px;
    height: 40px;

}

.sells .sellCnt .quickLinks a{
	width: 40px;
    height: 40px;

	
	background-color: var(--gray-scale-gray--50);
	border-radius: 50%;
    border: 1px solid var(--gray-scale-gray--50);
	color: var(--gray-scale-gray--900);
	display: inline-block;
	text-align: center;
	line-height: 40px;
	margin-bottom: 0px;
	transition: 0.35s;
	opacity: 0;
	visibility: hidden;
	transform: translateX(50px);
	

}
.sells:hover .sellCnt .quickLinks a{
	transform: translateX(0px);
	opacity: 1;
	visibility: visible;

}
#sells .sellCnt:hover{
	color: var(--gray-scale-gray--100);
	background-color: var(--branding-success);
	/* background-color: var(--gray-scale-gray--50);
	color: var(--branding-success); */
}


.sells:hover{
	
	border: 1px solid var(--branding-success-dark) !important;
    border-radius: 10px;
	border-color: var(--branding-success);
	box-shadow: 0 0 12px 0 rgba(32, 181, 38, 0.32);
}
#sell .groups{
	margin-top: 20px;
}

/* seller products section end */


/* Latest News section start   */
#news{
	margin-top: 80px;
	background: var(--gray-scale-gray--50);

}
.blog{
	margin-top: 80px;
	text-align: center;
}

#news .blog h2{
   font-weight: 600;
   font-size: 40px;
   line-height: 120%;
   text-align: center;
   color: var(--gray-scale-gray--900);
}

.dishPic{
	position: relative;

}

#news .dishPic .date{
    position: absolute;
	border-radius: 4px;
    padding: 6px 15px 10px 15px;
	top: 240px;
	left: 20px;
	background: rgba(255, 255, 255, 0.85);
}
.latest{
    margin-top: 80px;
}
.dishPic .date span{
 
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    color: var(--gray-scale-gray--900);
}
.dishPic .date p{

    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    color: var(--gray-scale-gray--500);
}
.latest .information p{

   font-weight: 400;
   font-size: 14px;
   line-height: 150%;
    color: var(--gray-scale-gray--500);
   color: var(--gray-scale-gray--700);
}
.latest .information ul{
	margin-top: 10px;
	gap : 10px;
	display: flex;
}
.latest .information i{
	margin-top: 10px;
}
.dishInfo{

	border-radius: 0 0 8px 8px;
    padding: 20px;

	background: var(--gray-scale-white);
}
.dishInfo p{
    margin-top: 8px;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: var(--branding-success-dark);
}
.dishInfo a{
    margin-top: 10px;
	font-weight: 600;
	font-size: 16px;
	line-height: 120%;
	color: var(--branding-success);
}
.dishInfo span{
	margin: 10px;
}
.latest{
	box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.08);
	margin-bottom: 80px;
	border-radius: 40px;
}
/* Latest News section end */



/* Testimonial section start */
#testimonial{
	position: relative;
	background: var(--gray-scale-gray--50);
}
.reviewHeading{
	margin-bottom: 60px;
}
#testimonial .reviewHeading{

	margin-bottom: 0px;

}

#testimonial .reviewHeading h2{

   font-weight: 600;
   font-size: 40px;
   line-height: 120%;
   color: #1a1a1a;
   
}
.reviewCnt .leftArrow,
.reviewCnt .rightArrow{
	position: absolute;
	top: 10%;
	transform:translateY(-50%);
	width: 45px;
	height: 45px;
	display: block;
	text-align: center;
	line-height: 45px;
	border: 1px solid var(--gray-scale-gray--400);
	border-radius: 50%;
	background-color: white ;
	cursor: pointer;
	transition: 0.25s;

}
.reviewCnt .leftArrow{
    left: 85%;
}
.reviewCnt .rightArrow{
    right: 8%;
}
.leftArrow:hover,
.rightArrow:hover{
    color: white;
	background-color: var(--branding-success);
    border-color: var(--branding-success);
}


.reviewCnt p{
	margin-top: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #4d4d4d;
}

.review h6{
  
   font-weight: 500;
   font-size: 14px;
   line-height: 150%;
   text-align: center;
   color: #1a1a1a;
}

.review p{
	
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: #999;
}
.review .manCnt{

	margin-right: 110px;
	margin-top: 6px;
	

}

.review .reating{
	margin-top: 25px;
	margin-right: 20px;
}
.review{
	margin-top: 16px;
}
.reviewCard{
	margin-top: 43px;
	margin-bottom: 60px;
	padding: 10px 0, 0, 0;
}
.reviewCard{
	border-radius: 8px;
    padding: 24px;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.01);
    background: #fff;
}

/* Testimonial section end */


/* groups wroks section star */

#groups{
	margin-top: 80px;
	margin-bottom: 80px;
}
.groupsPic{
	border-radius: 30%;
	display: inline-block;
}

.groupsPic:hover{
    color: var(--gray-scale-gray--100);
	background-color: var(--branding-success);
}
/*groups wroks section end  */



/*contact inf section start  */
#contactInfor{
	margin-bottom: 80px;
	
}
.contactInf h5{
	margin-top: 15px;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--gray-scale-gray--900);
}
.contactInf p{
    margin-top: 10px;
    font-weight: 400;
    font-size: 13px;
    line-height: 150%;
    color: var(--gray-scale-gray-–-600);
}
.contactInf {
	border: 1px solid rgba(32, 181, 38, 0.2);
    border-radius: 8px;
	padding: 20px;
}
.contactInf span {
	display: inline-block;
	margin-top: 15px;
	margin-bottom: 16px;
	font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    color: var(--branding-success);
}
.contactInf input{
	display: inline;
	border: 1px solid var(--gray-scale-gray--100);
    border-radius: 500px;
	background: var(--gray-scale-white);
	outline: none;
	padding: 14px 16px;
    width: 400px;
    height: 45px;
	position: relative;
	margin-top: 10px;
}
.contactInf button{
	
	position: absolute;
    margin-left: -30px;
    border: none;
	outline: none;
  
}
/*contact inf section end  */


/* footer section start */

#footer{
		/* background-image: url(../Images/fpppppppp.png); */
	color: var(--branding-success);
    background-attachment: fixed;
    background-size: cover; 
    margin-top: 100px;
	background-color: var(--gren-gray-scale-800);
    background-repeat: no-repeat;
    background-image: url(../Images/fffff.png);


}
.footerLogo p{
    margin-top: 15px;
    font-weight: 400;
    font-size: 14px;
     line-height: 150%;
    color: var(--gray-scale-gray--400);
}
.footerLogo ul li a{
	line-height: 40px;
	text-align: center;
	margin-top: 10px;
	display: inline-block;
	width: 40px;
	height: 40px;
	color: var(--gray-scale-gray--200);
	gap: 10px;

}
.footerLogo ul li a:hover{
	
	background-color: var(--branding-success);
	color: var(--gray-scale-gray--100);
	border-radius: 50%;

}
#footer .footerLogo{
	margin-top: 80px;
	margin-bottom: 60px;
}
.footerCnt{
	margin-top: 80px;
	margin-bottom: 60px;
}
.footerCnt h4{
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: var(--gray-scale-white); 
}
.footerCnt h4:hover{
	 border: 1px solid var(--branding-success);
}
.footerCnt a{
	margin-top: 12px;
    display:block;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--gray-scale-gray--400);
}
.footerPic{
	display: inline-block;
    margin: 0 10px;
}

.footers{
	margin-bottom: 25px;

}
.payments a{
    margin: 0px 10px;
}
/* footer section end */



/* singel-product slider css start*/
/* Chinese Cabbage singel -product css start*/

.productThumbSlider .slick-track{
	padding: 70px 0px;
	margin-right: 20px;
}
.productThumbSlider .slick-current{
	border: 1px solid var(--branding-success)
}
#bg{
	background-image: url(../Images/singel\ products\ bg.png);
	color: var(--branding-success);
    
    background-size: cover; 
    margin-top: 30px;

    background-repeat: no-repeat;
}
.singelProduct{
    margin-top: 50px;
	margin-bottom: 50px;	
}
.singelProduct a{
	color: var(--gray-scale-gray--300);
}
.singelProduct a:hover{
	color: var(--branding-success);
}

.freme .name h2{
	display: inline-block;
    font-weight: 600;
    font-size: 36px;
    line-height: 120%;
    color: var(--gray-scale-gray--900);
}
.freme .name a{
	margin-left: 8px;
	background: rgba(32, 181, 38, 0.2);
    border-radius: 4px;
    padding: 4px 8px;
    width: 71px;
  	 height: 29px;
   	font-weight: 400;
	font-size: 14px;
	line-height: 150%;
	color: var(--branding-success-dark);
}
.freme .retings {
	margin-top: 12px;
}
.freme .retings p{
	margin-right: 32px;
	margin-left: 10px;
	font-weight: 400;
	font-size: 14px;
	line-height: 150%;
	color: var(--gray-scale-gray--600);
}
.freme .reatings .SKU{

	font-weight: 500;
	font-size: 14px;
	line-height: 150%;
	color: var(--gray-scale-gray--800);
}
.freme .prices{
	margin-top: px;
}
.freme .prices del{

font-weight: 400;
font-size: 20px;
line-height: 150%;
text-decoration: line-through;
color: var(--gray-scale-gray--300);
}
.freme .prices span{
	
	font-weight: 500;
	font-size: 24px;
		line-height: 150%;
	color: var(--branding-success-dark);
}
.freme .prices a{
	border-radius: 30px;
	padding: 3px 10px;
	width: 74px;
	height: 27px;
	background: rgba(234, 75, 72, 0.1);
	margin-left: 12px;
	font-weight: 500;
	font-size: 14px;
	line-height: 150%;
	color: var(--branding-error);
}
.productStock .brends{
	display: flex;
}
.Fremes {
	margin-top: 20px;
}
.brands p{
	
	margin-top: 8px;
	font-weight: 400;
	font-size: 14px;
	line-height: 150%;
	color: var(--gray-scale-gray--900);
}
.brands a{
	margin-left: 8px;
}

.shares{
	margin-left: 120px;
}
.shares p {
	margin-top: 0px;
	font-weight: 400;
	font-size: 14px;
	line-height: 150%;
	color: var(--gray-scale-gray--900);

}
.footerLogos ul li a{
	margin-left: 8px;
	line-height: 40px;
	text-align: center;
	margin-top: -10px;
	display: inline-block;
	width: 40px;
	height: 40px;
	color: var(--gray-scale-gray--200);
	gap: 10px;

}
.footerLogos ul li a:hover{
	
	background-color: var(--branding-success);
	color: var(--gray-scale-gray--100);
	border-radius: 50%;

}
.para {
	margin-top: 8px;
	font-weight: 400;
	font-size: 14px;
	line-height: 150%;
	color: var(--gray-scale-gray--500);
}
.actions{
	margin-top: 20px;
}
.quantity{
	border: none;
	border: 1px solid var(--gray-scale-gray--100);
	border-radius: 170px;
	padding: 8px;
	
}

.quantity button{
	border: none;
	border-radius: 170px;
	width: 34px;
	height: 34px;
	background: var(--gray-scale-gray--50);
}
.quantity input{
	border: none !important;
	width: 40px;
	height: 20px;
}
.actions a{
	margin-left: 16px;
	font-weight: 600;
	font-size: 16px;
	line-height: 120%;
	color: var(--gray-scale-white);
	text-align: center;
	border-radius: 43px;
	padding: 16px 40px;
	/* width: 447px;
	height: 51px; */
	background: var(--branding-success);
	border-radius: 43px;
	/* padding: 16px 40px; */
	width: 300px;
	height: 60px;
}
.actions .favorite{
	margin-left: 16px;
	border: none;
	border-radius: 43px;
	padding: 16px;
	width: 52px;
	height: 52px;
	background: rgba(32, 181, 38, 0.1);
}
.smallDet{
	margin-top: 24px;
}
.Category h4{
	
	font-weight: 500;
	font-size: 14px;
	line-height: 150%;
	color: var(--gray-scale-gray--900);
}
.Category p{
	margin-left: 6px;
	font-weight: 400;
	font-size: 14px;
	line-height: 150%;
	color: var(--gray-scale-gray--500);
}
.tags{
	margin-top: 12px;
}
.tags h4{
	
	font-weight: 500;
	font-size: 14px;
	line-height: 150%;
	color: var(--gray-scale-gray--900);
}
.tags p{
	
	margin-left: 6px;
	font-weight: 400;
	font-size: 14px;
	line-height: 150%;
	color: var(--gray-scale-gray--500);
}
.tags span {
	
	font-weight: 400;
	font-size: 14px;
	line-height: 150%;
	text-decoration: underline;
	text-decoration-skip-ink: none;
	color: var(--gray-scale-gray--900);
}
.productStock{
	margin-top: 40px;
}

/* Chinese Cabbage singel product end */
/* singel-product slider css end */





/* Descrition section start */
#Descrition .nav-link{
	
	text-decoration: none;
	border: none;
	font-weight: 500;
	font-size: 16px;
	line-height: 150%;
	color: var(--gray-scale-gray--900);
}

.DesCnt p{
	
font-weight: 400;
font-size: 14px;
line-height: 150%;
color: var(--gray-scale-gray--500);
}
.DesCnt .pic{
	margin-top: 20px;
}
.pic p{
	margin-left: 20px;

}
.desh{
	 margin-top: 20px; 
}
.Organic{
	margin-top: 22px;
	border: 1px solid var(--gray-scale-gray--100);
	border-radius: 6px;
	padding: 24px 20px;
	
}
img {
	max-width: 100%;
}
.Organic h6{
	
	
	font-weight: 500;
	font-size: 14px;
	line-height: 150%;
	color: var(--gray-scale-gray--900);
}
.Organic p{

	font-weight: 400;
	font-size: 13px;
	line-height: 150%;
	color: var(--gray-scale-gray--500);
}

/* Descrition section end */


/*  Additional Information start*/

.info-table td {
    padding: 6px 12px;
    vertical-align: top;
  }



.info-table{
	margin: 20px 20px;
	 border-collapse: collapse;
}
.label{
margin-right: 30px;	
font-weight: 400;
font-size: 14px;
line-height: 150%;
color: var(--gray-scale-gray--900);

}
.value{
	display: inline-block;
	margin-left: 50px;
	
font-weight: 400;
font-size: 14px;
line-height: 150%;
color: var(--gray-scale-gray--600);
}
/* Additional Information end */


/* Customer Feedback start */
.review-section {
  
  margin: 0 auto;

}
#review-section .review{
  display: flex;
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}

.review-header {
  display: flex;
  /* justify-content: space-between; */
  text-align: left;
  font-size: 14px;
  margin-bottom: 5px;
}



.time {
  color: #999;
  font-size: 12px;
}

.load-more {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  border: none;
  background-color: #4CAF50;
  color: white;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
}



.review-section {
  max-width: 600px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

.review {
  display: flex;
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.review-content {
  flex: 1;
}

.review-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  margin-bottom: 5px;
}



.time {
  color: #999;
  font-size: 12px;
}

.load-more {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  border: none;
  background-color: #4CAF50;
  color: white;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
}


/* Customer Feedback end */






























#ShoppingCart {
    padding: 40px 0 80px;
}

#ShoppingCart h5 {
    margin-bottom: 32px;
    font-weight: 600;
    font-size: 32px;
    line-height: 120%;
    text-align: center;
    color: var(--gray-scale-gray--900);
}

#ShoppingCart .table1 th {
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--gray-scale-gray--500);

}

#ShoppingCart h3 {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--gray-scale-gray--900);
    margin-top: 14%;
}

#ShoppingCart h4 {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: var(--gray-scale-gray--900);
}

#ShoppingCart .closeBtn {
    border: 1px solid var(--gren-gray-scale-200);
    width: 24px;
    height: 24px;
    color: var(--gray-scale-gray--600);
    border-radius: 50%;
}

#ShoppingCart .closeBtn i {
    width: 11px;
    height: 11px;
    line-height: 11px;

}


#ShoppingCart h6 {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--gray-scale-gray--900);
}


#ShoppingCart .table1 img {
    width: 100px;
}

#ShoppingCart .counter button {
    border-radius: 50%;
    width: 34px;
    height: 34px;
    padding: 10px 10px;
    line-height: 50%;
    border: none;
    background-color: var(--gray-scale-gray--50);
    color: var(--gray-scale-gray--600);

}

#ShoppingCart .counter {
    border: 1px solid var(--gray-scale-gray--100);
    border-radius: 170px;
    padding: 8px;
    background-color: var(--gray-scale-white);
    width: 124px;
    height: 50px;
    position: relative;
}

#ShoppingCart .counter .decrementBtn {
    top: 12%;
    left: 5%;
    position: absolute;
}

#ShoppingCart .counter .incrementBtn {
    top: 12%;
    right: 5%;
    position: absolute;
}

#ShoppingCart input {
    border: none;
    outline: none;
    position: absolute;
    background-color: transparent;
    top: 50%;
    transform: translateY(-50%);
    left: 50%;
}

#ShoppingCart a {
    font-weight: 600;
    font-size: 14px;
    line-height: 120%;
    color: var(--gray-scale-gray--700);
    border-radius: 43px;
    padding: 14px 32px;
    background-color: var(--gray-scale-gray--50);
    display: inline-block;
    margin-left: 12px;
}

#ShoppingCart .table1 {
    border: 1px solid var(--gray-scale-gray--100);
    border-radius: 8px;
    border-collapse: separate;
    overflow: hidden;
    width: 79%;

}

#ShoppingCart .table1 th {
    padding: 16px 14px;
}

#ShoppingCart .table1 tr {
    padding: 12px 0;
    box-shadow: 0 1px 0 var(--gray-scale-gray--100);
}

#ShoppingCart td {
    padding: 50px 0;
}

#ShoppingCart td:nth-child(3) {
    padding-right: 20px;
}

#ShoppingCart .cartTable {
    border: 1px solid var(--gray-scale-gray--100);
    border-radius: 8px;
    padding: 24px 24px;
    height: 300px;
}

#ShoppingCart .cartTable h4 {
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: var(--gray-scale-gray--900);

}

#ShoppingCart .cartTable p {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--gray-scale-gray--700);
    margin: 29px 0 13px;
    border-bottom: 1px solid var(--gren-gray-scale-100);
}

#ShoppingCart .cartTable span {
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: var(--gray-scale-gray--900);
    margin-left: 70%;
}

#ShoppingCart .cartTable a {
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    color: var(--gray-scale-white);
    border-radius: 43px;
    padding: 16px 40px;
    background-color: var(--branding-success);
    margin-left: 15%;
}

#ShoppingCart .coupon {
    border: 1px solid var(--gray-scale-gray--100);
    border-radius: 8px;
    padding: 20px;
    margin-top: 24px;
    width: 79%;
    position: relative;
}

#ShoppingCart .coupon h6 {
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: var(--gray-scale-gray--900);
}

#ShoppingCart .coupon input {
    border: 1px solid var(--gray-scale-gray--100);
    border-radius: 46px;
    padding: 14px 24px;
    left: 40%;
}

#ShoppingCart .coupon button {
    font-weight: 600;
    font-size: 16px;
    line-height: 125%;
    color: var(--gray-scale-white);
    border-radius: 43px;
    padding: 16px 20px;
    background-color: var(--gray-scale-gray--800);
    position: absolute;
    display: inline-block;
    right: 5%;
    top: 10%;
}

#main, #mobileSidemenuShop {
    padding: 32px 0 80px;
}

#main input[type="radio"], #main input[type="checkbox"], #mobileSidemenuShop input[type="radio"], #mobileSidemenuShop input[type="checkbox"] {
    accent-color: var(--branding-success-dark);
}

#main input[type="range"], #mobileSidemenuShop input[type="range"] {
    accent-color: var(--branding-success);
    width: 100%;

}

#main button.filter, #mobileSidemenuShop button.filter {
    font-weight: 600;
    font-size: 14px;
    line-height: 120%;
    color: var(--gray-scale-white);
    border-radius: 43px;
    padding: 14px 32px;
    background-color: var(--branding-success);
    border: none;
}

/* Remove default background, shadow, border */
#main .accordion-button.custom, #mobileSidemenuShop .accordion-button.custom {
    background-color: transparent;
    box-shadow: none;
    border: none;
}

#main .accordion-button.custom:focus, #mobileSidemenuShop .accordion-button.custom:focus {
    box-shadow: none;
}

#main .cartImage label, #mobileSidemenuShop .row label {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--gray-scale-gray-–-500);
}

#main .cartImage select, #mobileSidemenuShop .row select {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--gray-scale-gray-–-700);
    border: 1px solid var(--gray-scale-gray-–-100);
    border-radius: 4px;
    padding: 10px 16px;
}

#main .cartImage p, #mobileSidemenuShop .row p {
    font-weight: 400;
    line-height: 150%;
    margin-top: 8px;
    color: var(--gray-scale-gray-–-600);
}

#main .cartImage span, #mobileSidemenuShop .row span {
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    color: var(--gray-scale-gray-–-900);
}

#main .accordion-button, #mobileSidemenuShop .accordion-button {
    outline: white;
    background-color: white;
    border: white;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: var(--gray-scale-gray-–-900);
}

#main .accordion-item, #mobileSidemenuShop .accordion-item {
    margin-top: 24px;
}

#main .accordion-body, #mobileSidemenuShop .accordion-body {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--gray-scale-gray-–-900);
}

#main .accordion-body span, #mobileSidemenuShop .accordion-body span {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--gray-scale-gray-–-500);
}

#main .accordion-item, #mobileSidemenuShop .accordion-item {
    border: none;
    outline: none;
}

#main .accordion-body label, #mobileSidemenuShop .accordion-body label {
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--gray-scale-gray-–-900);
}


#main .accordion-body input span, #mobileSidemenuShop .accordion-body input span {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--gray-scale-gray-–-500);
}

#main .cartImage .part1 {
    margin-top: 39px;
}

#main .cartImage .part1 .label {
    background-color: var(--gray-scale-gray-–-900);
}

#main .cartImage .part1 .productCnt p {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: var(--gray-scale-gray-–-900);
}

#main .accordion-item h3, #mobileSidemenuShop .accordion-item h3 {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--gray-scale-gray-–-700);

}

#main .accordion-item span, #mobileSidemenuShop .accordion-item span {
    font-weight: 500;
    color: var(--gray-scale-gray-–-900);
}

#main .productCard, #mobileSidemenuShop .productCard {
    border: 1px solid var(--gray-scale-gray-–-100);
    border-radius: 8px;
}

#main .productCard .productCnt, #mobileSidemenuShop .productCard .productCnt {
    padding: 16px 20px 16px 16px;
}

#main .productCard .productCnt .cardBtn, #mobileSidemenuShop .productCard .productCnt .cardBtn {
    position: absolute;
    color: var(--gray-scale-gray-–-900);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--gray-scale-gray-–-50);
    text-align: center;
    line-height: 40px;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

#main .productCard .productCnt a.productTitle, #mobileSidemenuShop .productCard .productCnt a.productTitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--gray-scale-gray-–-700);
}

#main .productCard .productCnt p, #mobileSidemenuShop .productCard .productCnt p {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: var(--gray-scale-gray-–-900);
    margin-bottom: 6px;
}

#main .productCard .productCnt del, #mobileSidemenuShop .productCard .productCnt del {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-decoration: line-through;
    color: var(--gray-scale-gray-–-400);
}

#main .productCard .productCnt .rating, #mobileSidemenuShop .productCard .productCnt .rating {
    font-size: 12px;
    display: flex;
    color: var(--branding-warning);
}

#main .productCard .productCnt .empty, #mobileSidemenuShop .productCard .productCnt .empty {
    color: var(--gray-scale-gray-–-200);
}

#main .productCnt, #mobileSidemenuShop .productCnt {
    position: relative;
}

#main .productCard .productThumb, #mobileSidemenuShop .productCnt .productThumb {
    position: relative;
}

#main .productCard .productThumb .label, #mobileSidemenuShop .productCard .productThumb .label {
    position: absolute;
    padding: 3px 8px;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: var(--gray-scale-white);
    background-color: var(--branding-error);
    border-radius: 4px;
    top: 16px;
    left: 16px;
}

#main .productCard .productThumb .quickLinks, #mobileSidemenuShop .productCard .productThumb .quickLinks {
    position: absolute;
    top: 20px;
    right: 20px;
}

#main .productCard .productThumb .quickLinks a, #mobileSidemenuShop .productCard .productThumb .quickLinks a {
    width: 40px;
    height: 40px;
    border: 1px solid var(--gray-scale-gray-–-50);
    border-radius: 50%;
    color: var(--gray-scale-gray-–-900);
    display: block;
    line-height: 40px;
    text-align: center;
    margin-bottom: 6px;
    transform: translateY(50px);
    background-color: white;
    transition: 0.35s;
    opacity: 0;
    visibility: hidden;
}

#main .productCard:hover .productThumb .quickLinks a, #mobileSidemenuShop .productCard:hover .productThumb .quickLinks a {
    transform: translateY(0px);
    opacity: 1;
    visibility: visible;
}

#main .productCard .productThumb .quickLinks li:nth-child(2) a, #mobileSidemenuShop .productCard .productThumb .quickLinks li:nth-child(2) a {
    transition-delay: 0.15s;
}

#main .productCard:hover, #mobileSidemenuShop .productCard:hover {
    border-color: var(--branding-success-dark);
    box-shadow: 0 0 12px 0 rgba(32, 181, 38, 0.32);
}

#main .productCard:hover .productCnt .productTitle, #mobileSidemenuShop .productCard:hover .productCnt .productTitle {
    color: var(--branding-success-dark);
}

#main .productCard:hover .cardBtn, #mobileSidemenuShop .productCard:hover .cardBtn {
    color: var(--gray-scale-white);
    background-color: var(--branding-success);
}

#main .cartImage .part2, #main .cartImage .part3, #main .cartImage .part4, #main .cartImage .part5 {
    margin-top: 24px;
}

#main .accordion-body i, #mobileSidemenuShop .accordion-body i {
    color: var(--branding-warning);
    width: 16px;
    line-height: 16px;
    height: 16px;
    text-align: center;
}

#main input[type="checkbox"], #mobileSidemenuShop input[type="checkbox"] {
    width: 15px;
    height: 15px;
    margin-top: 3px;
    margin-right: 4px;
    background-color: var(--branding-success);
    color: white;
}

#main .accordion-body .row h4, #mobileSidemenuShop .accordion-body .row h4 {
    margin-left: 5px;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--gray-scale-gray--900);
}

#main .accordion-body .fa-star.empty, #mobileSidemenuShop .accordion-body .fa-star.empty {
    color: var(--gray-scale-gray--200);
}

#main .accordion-body a, #mobileSidemenuShop .accordion-body a {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--gray-scale-gray--900);
    border-radius: 30px;
    padding: 6px 16px;
    background-color: var(--gray-scale-gray--50);
    margin: 10px 4px 4px 4px;
    display: inline-block;

}

#main .accordion-body a:hover, #mobileSidemenuShop .accordion-body a:hover {
    color: var(--gray-scale-white);
    background-color: var(--branding-success);
}

#main .cartImage .label1 {
    border-radius: 4px;
    display: inline-block;
    position: absolute;
    padding: 3px 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--gray-scale-white);
    background-color: var(--branding-error);
    top: 16px;
    left: 16px;
}

#main .shopBanner img, #mobileSidemenuShop .shopBanner img {
    width: 100%;
    margin-bottom: 10px;
}

#main .cartdetails h6, #mobileSidemenuShop .cartdetails h6 {
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: var(--gray-scale-gray--900);
    margin: 12px 0;
}

#main .card, #mobileSidemenuShop .card {
    border: 1px solid var(--gray-scale-gray--100);
    border-radius: 6px;
    background-color: var(--gray-scale-white);
}

#main h5, #mobileSidemenuShop h5 {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--gray-scale-gray--700);
}

#main p, #mobileSidemenuShop p {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: var(--gray-scale-gray--900);
}

#main p del, #mobileSidemenuShop p del {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--gray-scale-gray--400);
}

#main .text-warning, #mobileSidemenuShop .text-warning {
    height: 13px;
    color: var(--branding-warning);
}

#main .card:hover, #mobileSidemenuShop .card:hover {
    box-shadow: 0 0 12px 0 rgba(32, 181, 38, 0.32);
    border: 1px solid var(--branding-success-dark);
}

#main .card:hover h5, #mobileSidemenuShop .card:hover h5 {
    color: var(--branding-success-dark);
}

#main .card, #mobileSidemenuShop .card {
    position: relative;
}








#subscriber {
    padding: 40px 0;
    background-color: #f7f7f7;

}

#subscriber h5 {
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    color: var(--gray-scale-gray--900);
}

#subscriber p {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--gray-scale-gray--400);
}

#subscriber input {
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    color: var(--gray-scale-gray--400);
    border: 1px solid var(--gray-scale-gray--100);
    border-radius: 100px 0px 0px 100px;
    padding: 14px 50px;
    background-color: var(--gray-scale-white);
    outline: none;
    width: 65%;
}

#subscriber button {
    background-color: var(--branding-success);
    border-radius: 43px;
    padding: 18px 50px;
    border: none;
    outline: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 120%;
    position: absolute;
    left: 50%;
    top: 36%;
    color: var(--gray-scale-white);
}

#subscriber form {
    position: relative;
    padding-top: 30px;
}

#subscriber .quickLinks {
    margin-top: 50px;
}

#subscriber .quickLinks a {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: transparent;
    color: var(--gray-scale-gray--300);
    padding: 10px 12px 8px 15px;
    line-height: 20px;
}

#subscriber .quickLinks a i {
    width: 18px;
    height: 18px;
}

#subscriber .quickLinks:hover a {
    color: var(--gray-scale-white);
    background-color: var(--branding-success);
}

#subscriber .quickLinks a .fa-facebook-f {
    margin-left: 3px;
    width: 15px;
    height: 8px;
}

#subscriber .quickLinks a .fa-pinterest-p {
    margin-left: 2px;
}